*{
    background-color: rgb(184, 95, 95);

}
h1{
    
    height:auto;
    text-align: center;    
}
.items{
display: flex;
justify-content: center;
   
}
button
{
    border-radius: 5px;
    cursor: pointer;
    background-color:cornflowerblue;
    margin:0 5px;
 
}
.column{
    box-sizing: content-box;
    border:solid;
    border-color:rgb(13, 13, 14);
    /* min-block-size:200px; */
    /* display:inline-flex; */
   
    background-color: red;
    margin: 2px;
    width: 2%;
    height: 1.5rem;

    
}
.row{
    display:flex;
    margin:1px;

}
